<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="center" horizontal="center">
  <ion-fab-button id="present-alert" color="success">Pulsame</ion-fab-button>
  <ion-alert
    trigger="present-alert"
    header="Aplicaciones Web"
    subHeader="Clase del 2023-11-17"
    message="Hola mundo"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-fab>


 
</ion-content>
